//Grey
@grey-900: #1D2235;
@grey-800: #303443;
@grey-700: #6A6D78;
@grey-600: #9CA8B2;
@grey-500: #CAD0D5;
@grey-400: #DDE3E7;
@grey-300: #F0F4F9;
@grey-200: #FBFDFF;
@grey-100: #FCFCFD;
@grey-50: #F2F2F2;

//Green
@green-900: #004645;
@green-800: #046765;
@green-700: #009290;
@green-600: #38B6B3;
@green-500: #55C4BF;
@green-400: #70D4CF;
@green-300: #74DCE2;
@green-200: #A2E4E8;
@green-100: #BFE8EA;
@green-50: #D7F5F7;
@green-25: #EBFAFB;

//Red
@red-900: #5F0002;
@red-800: #A20B0D;
@red-700: #D01114;
@red-600: #EB3437;
@red-500: #F05B5D;
@red-400: #F08081;
@red-300: #F09596;
@red-200: #F2B3B4;
@red-100: #FAD1D1;
@red-50: #FDE8E8;

//Orange
@orange-900: #E38D0B;
@orange-800: #FFE1B4;
@orange-700: #FFF0D9;
